.about-page {
  padding: 80px 20px;
  background-color: #ffffff;
}

.about-page-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.about-page-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
}

.about-page-content h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.about-page-content p {
  font-size: 1.05rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 15px;
}


/* Timeline */
.timeline {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
}

.timeline ul {
  list-style: none;
  padding: 0;
}

.timeline li {
  margin: 15px 0;
  font-size: 1.05rem;
}

.timeline span {
  font-weight: bold;
  color: #ff4d30;
}

/* Qualities */
.qualities {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.quality-card {
  width: 260px;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  background: #f9f9f9;
}

.quality-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* Chef Section */
.chef-section {
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

.chef-section img {
  width: 280px;
  border-radius: 12px;
}


/* Responsive */
@media (max-width: 768px) {
  .about-page-container {
    flex-direction: column;
    text-align: center;
  }

  .chef-section {
    flex-direction: column;
    text-align: center;
  }
}
