.about {
  padding: 80px 20px;
  background-color: #f9f9f9;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-image {
  display: flex;
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  justify-self: center;
  height: 300px;
  overflow: hidden;
}

.about-content h2 {
  font-size: 2.4rem;
  margin: 0px;
}

.about-content p {
  font-size: 1.05rem;
  color: #555;
  margin-bottom: 15px;
}

.about-btn {
  background-color: #ff4d30;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
}

.about-btn:hover {
  background-color: #e63e25;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
