
.dish-card {
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s;
  display: grid;
}

.dish-card:hover {
  transform: translateY(-8px);
}

.dish-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.dish-info {
  display: grid;
  grid-template-columns: 1fr auto; /* Title takes remaining space, price auto */
  align-items: center;
  gap: 10px;
}

.dish-card h3 {
  margin: 0;
}

.dish-card p {
  font-weight: bold;
  color: #ff4d30;
  margin-right: 20px;
}

.dish-btn{
  display:flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 4px;
}
