.menu-card {
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  background: white;
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.menu-card:hover{
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-info {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}

.menu-card h3{
  margin: 0;
}

.menu-card p {
  font-weight: bold;
  color: #ff4d30;
  margin: 20px;
}

.menu-btn{
  display:flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 4px;
}
